<html>
<body>
<p>Hi {{creator_name}},</p><br>

<p>This email provides a summary of your performance on Harmonix for the month of {{month}}.</p><br>

<p>Overview:</p>
<p>Total Songs: {{total_songs}}</p>
<p>Total Albums: {{total_albums}}</p><br>

{% if songs_released is not none and songs_released %}
<p>Songs:</p>
<p>Here's a breakdown of your songs released this month:</p>
<table>
	<tr>
		<th>Song</th>
		<th>Plays</th>
		<th>Average Rating</th>
	</tr>
	{% for song in songs_released %}
	<tr>
		<td>{{song[1]['song_name']}}</td>
		<td>{{song[1]['plays']}}</td>
		<td>{{song[1]['rating']}}</td>
	</tr>
	{% endfor %}
</table><br>
{% endif %}

<p>Total Plays: {{total_plays}} (See pie chart below for distribution across songs)</p><br>

{% if top_rated_songs is not none and top_rated_songs %}
<p>Engagement:</p>
<p>Top-Rated Songs:</p>
{% for song in top_rated_songs %}
<p>{{song[1]['song_name']}} - {{song[1]['rating']}}</p>
{% endfor %}<br>
{% endif %}

{% if (most_played_album is not none and most_played_album) or (most_played_song is not none and most_played_song) %}
<p>Most-Played Songs/Albums:</p>
{% if most_played_song is not none and most_played_song %}
<p>Song: {{most_played_song[1]['song_name']}} - {{most_played_song[1]['plays']}} Plays</p>
{% endif %}

{% if most_played_album is not none and most_played_album %}
<p>Album: {{most_played_album[0]['album_name']}} - {{most_played_album[2]}} Plays</p>
{% endif %}<br>
{% endif %}

<p>User Interaction:</p>
<p>Collaborations: {{collaborations_initiated}} initiated, {{collaborations_accepted}} accepted</p><br>

<p>Visualizations:</p>
<p>Attached you'll find charts and graphs showcasing key trends:</p><br>

{% if total_songs != 0 %}
<p>Pie Chart:</p>
<img src="cid:pie-chart"><br>
<p>Bar Chart:</p>
<img src="cid:bar-chart"><br>
{% endif %}

<p>We encourage you to continue creating amazing music!</p>
<p>Feel free to reach out to our Creator Support team if you have any questions.</p><br>

<p>Happy Creating,</p>
<p>Harmonix</p>
</body>